alembic==0.9.6
aniso8601==8.0.0
astroid==2.4.2
attrs==20.2.0
autopep8==1.5.4
aws-sam-translator==1.27.0
aws-xray-sdk==2.6.0
bcrypt==3.1.4
boto==2.49.0
boto3==1.15.10
botocore==1.18.10
certifi==2020.6.20
cffi==1.14.3
cfn-lint==0.37.1
chardet==3.0.4
click==6.7
coverage==4.4.2
cryptography==3.1.1
decorator==4.4.2
docker==4.3.1
ecdsa==0.14.1
enum-compat==0.0.3
eventlet==0.21.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-Migrate==2.1.1
flask-restx==0.2.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
future==0.18.2
greenlet==0.4.17
gunicorn==19.7.1
idna==2.10
importlib-metadata==2.0.0
isort==5.5.4
itsdangerous==0.24
Jinja2==2.11.2
jmespath==0.10.0
jsondiff==1.2.0
jsonpatch==1.26
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
lazy-object-proxy==1.4.3
Mako==1.0.7
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
more-itertools==8.5.0
moto==1.3.16
networkx==2.5
psycopg2-binary==2.8.5
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.18
PyJWT==1.5.3
pylint==2.6.0
pyrsistent==0.17.3
python-dateutil==2.6.1
python-editor==1.0.4
python-jose==3.2.0
pytz==2017.3
PyYAML==5.3.1
requests==2.24.0
responses==0.12.0
rsa==4.6
s3transfer==0.3.3
selenium==3.8.1
six==1.11.0
SQLAlchemy==1.3.19
sshpubkeys==3.1.0
toml==0.10.1
urllib3==1.25.10
waitress==1.4.4
websocket-client==0.57.0
Werkzeug==0.15.6
whitenoise==5.2.0
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.3.0
